body {
    background-color: red;
}
div {
    background-color: blue;
    margin-bottom: 100px;
    padding:10px;
}
h1 {
    background-color: green;
    margin-top:100px;
    margin-bottom:50px;
}

p {
    margin-top:32px;
}